.DS_Store
.yarn
.history

bazel-*
dist
dist-*
lib
lib-*
temp
target
output
.cache
.

node_modules/
build/
dist/
coverage/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
package-lock.json
yarn.lock
pnpm-lock.yaml